<h1>Listing todos</h1>

<table>
  <tr>
    <th>Body</th>
  </tr>

<% for todo in @todos %>
  <tr>
    <td><%=h todo.body %></td>
    <td><%= link_to 'Show', list_todo_path %></td>
    <td><%= link_to 'Edit', edit_list_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New todo', new_list_todo_path %>
